<div class="input-group"> 
    <input searchRainbow [(ngModel)]="anime.name" name="animeSearch" list="topAnimes" type="text" class="form-control borderRadiusZero" 
            size="50" placeholder="What are you looking for?" #searchBox id="search-box" (input)="search(searchBox.value)"
            required>
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger borderRadiusZero"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>
<div>
    <ul class="search-result">
        <li *ngFor="let anime of animes$ | async" >
            <a routerLink="/detail/{{anime.id}}">
                {{anime.name}}
            </a>
        </li>
    </ul>
</div>  
