<main role="main">
    <section class="content listSection" style="background-image: url('https://hdqwalls.com/download/vegeta-dragon-ball-ea-1920x1080.jpg');">
        <h1 class="headerDecorator"> Users List </h1>
    </section>
    <section>    
        <div class="col-md-12">
          <table class="table table-hover table-bordered" style="margin-top:10px; text-align: center !important;">
            <thead class="bg-light">
              <tr>
                <!-- <th>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                        </label>
                    </div>
                </th>   -->
                <th style="text-align: center !important;">ID</th>
                <th style="text-align: center !important;">Name</th>
                <th style="text-align: center !important;">Username</th>
                <th style="text-align: center !important;">Email</th>
                <th style="text-align: center !important;">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" (click)="edit(user)">
                <!-- <td>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                        </label>
                    </div>
                </td>   -->
                <td>{{ user.id }}</td>
                <td>
                    <span *ngIf="user !== editUser">{{ user.name }}</span>
                    <input *ngIf="user === editUser" [(ngModel)]="user.name"
                    (blur)="updateUser()" (keyup.enter)="updateUser()">
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td style="font-size: 15px;">
                    <!-- <a style="margin-right:10px;cursor:pointer;"><i class="fa fa-pencil-square-o"></i></a> -->
                    <!-- <a href="#"><i class="fa fa-eye"></i></a> -->
                    <a style="margin-left:10px;cursor:pointer;" (click)="delete(user)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>                    
            </tbody>
          </table>
        </div>
    </section>
  </main>