<header>
    <div class="header-container">
        <!-- Logo of library at top left -->
        <h1 class="library-imprint">
            <a href="http://bangaloreuniversity.ac.in/library/" [attr.title]="title">
              <img src="assets/images/hisoka.png" id="headerImage" alt="Abhishek's Library Image">
            </a>
            Abhishek's Anime Library      
        </h1>
        
        <!--Library hours displayed at top  -->
        <!-- <div class="library-hours">
             <span>Library Timings Are: 10am to 7pm</span>
             <img src="">
        </div> -->

        <!-- Navigation list will come here -->        
        <nav>
           
        </nav>          

        <!-- Donate to Library --> 
        <div class="donate-to-library">
          <a href="">
              
          </a> 
        </div>  
    </div>
    <!-- <hr> -->
</header>



<div style="text-align:center">
  <h1>
      {{heading}}
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

