<header>
    <div class="header-container">
        <!-- Logo of library at top left -->
        <h1 class="library-imprint">
            <a href="http://bangaloreuniversity.ac.in/library/" [attr.title]="title">
                <img src="assets/images/hisoka.png" id="headerImage" alt="Abhishek's Anime Library Image">
            </a>
            Abhishek's Anime Library
        </h1>
        
        <!--Library hours displayed at top  -->
        <!-- <div class="library-hours">
             <span>Library Timings Are: 10am to 7pm</span>
             <img src="">
        </div> -->

        <!-- Navigation list will come here -->        
        <nav class="site-menu">
           <ul class="menu-register">
              <li></li>
           </ul>
        </nav>          

    </div>
</header>

<main id="content" [ngStyle]="{'background-image': 'url(' + photo + ')'}">

</main>

