@import '~scss/variables';

header {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    z-index: 999;
}

.header-container {
    background-color: black;
    color: white;
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 50px;
}

.library-imprint {
    transition: transform .3s,-webkit-transform .3s;
    z-index: 99;
    position: fixed;
    left: 0;
    width: 100%;
    height: inherit;   
    font-size: 1.2rem;
}

//@media only screen and (min-width: 960px)
.site-menu {
    background: none;
    font-size: 1em;
    margin: 0 9rem 0 0;
    padding: 0;
    position: absolute;
    top: 2.8rem;
    right: 5%;
    left: auto;
    text-align: left;
    width: auto;
    z-index: 1;
}

.menu-register {
    display: block;
    margin: 0;
}

.menu-register > li {
    float: left;
    list-style: none;
    text-align: left;
}

.menu-dwell {
    padding: 0 5px 0 0;
    position: relative;
}

.menu-dwell a {
    border: none;
    color: #353331;
    float: none;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
}

// main section below

main {
    display: block;
    height: 100%;
    width: 100%;
}

.content {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchSection {
    display: table !important;
    position: absolute !important;
    height: 450px;
    width: 100%;
    @media only screen and (max-width: 600px) {
        height: 350px;
    }
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#searchBox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 700px;
    @media only screen and (max-width: 600px) {
        width: 300px;
    }
}



