<main role="main">
  <section class="jumbotron content text-center" style="background-image: url('https://images4.alphacoders.com/738/thumb-1920-73806.jpg');">
        <form id="indexSearchForm">
            <div class="input-group">
                <input list="browsers" type="text" class="form-control borderRadiusZero" size="50" placeholder="What are you looking for?" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger borderRadiusZero"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <datalist id="browsers">
                    <option value="Internet Explorer">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                </datalist>
            </div>
        </form>           
  </section>

  <section role="section" class="darkGreyBackGround">            
          <div class="tp-wrapper col-md-3">
              <div class="tp-box" (mouseenter)="toggleFlip(1)" (mouseleave)="toggleFlip(1)" [@flipState]="flip1">
                  <div class="tp-box__side tp-box__front">
                      <img src="https://img00.deviantart.net/4566/i/2018/023/c/e/vegeta_by_wizyakuza-dc0zqa9.jpg" alt="Vegeta Dragon Ball" class="inheritHeightWidth"> 
                  </div>
                  <div class="tp-box__side tp-box__back">
                      Vegeta is the prince of the fallen Saiyan race. Regal, egotistical, and full of pride,
                      Vegeta was once a ruthless, cold-blooded warrior and outright killer, but later abandons his role, 
                      fighting alongside the universe's most powerful warrior, specifically with the 
                      mission to defeat and surpass Goku in power. His character evolves from villain, to anti-hero, to a hero through the course of the series.
                  </div>
              </div>
          </div>
          <div class="tp-wrapper col-md-3">
              <div class="tp-box" (mouseenter)="toggleFlip(2)" (mouseleave)="toggleFlip(2)" [@flipState]="flip2">
                  <div class="tp-box__side tp-box__front">
                      <img src="http://i66.tinypic.com/2ql5x14.jpg" alt="Code Geass Lelouch" class="inheritHeightWidth"> 
                  </div>
                  <div class="tp-box__side tp-box__back">
                      Lelouch vi Britannia was the protagonist of Code Geass.He was the Eleventh Prince of the 
                      Holy Britannian Empire and the son of the 98th Emperor of Britannia, Charles vi Britannia. He was also the leader of 
                      the Black Knights and the real identity of Zero.In battle, Lelouch is very cold and tactical. He is willing to 
                      sacrifice civilians and soldiers alike, if that is what it takes to achieve the objective. 
                  </div>
              </div>
          </div>
          <div class="tp-wrapper col-md-3">
              <div class="tp-box" (mouseenter)="toggleFlip(3)" (mouseleave)="toggleFlip(3)" [@flipState]="flip3">
                  <div class="tp-box__side tp-box__front">
                      <img src="https://takao21203.files.wordpress.com/2013/08/tumblr_mh7q75rnog1rkq9cno1_500.png" alt="Kai Hiwatari Beyblade" class="inheritHeightWidth">
                  </div>
                  <div class="tp-box__side tp-box__back">
                      Kai Hiwatari is one of the deuteragonists from the Original Series, consisting of Beyblade: G-Revolution.
                      Kai is a proud and a very confident blader who is willing to sacrifice everything to get what he wants. He would much prefer earning things through hard work. However, when he returns to his old self, he does so with an even stronger 
                      determination to win. He is a quiet and mysterious person.
                  </div>
              </div>
          </div>
          <div class="tp-wrapper col-md-3">
              <div class="tp-box" (mouseenter)="toggleFlip(4)" (mouseleave)="toggleFlip(4)" [@flipState]="flip4">
                  <div class="tp-box__side tp-box__front">
                      <img src="https://pre00.deviantart.net/3340/th/pre/f/2017/049/f/6/f68fdfc3225f63fb62eaf1b64a6acd6d-daqdm9c.jpg" alt="Zoro One Piece" class="inheritHeightWidth">
                  </div>
                  <div class="tp-box__side tp-box__back">
                      Roronoa Zoro, also known as "Pirate Hunter" Zoro,is the swordsman of the Straw Hat Pirates and a former bounty hunter.
                      He is considered the largest threat and most dangerous member in it after Luffy. His fame as a master swordsman and his great strength, 
                      along with the actions of his captain, sometimes led others to believe he was the true captain of the crew before he obtained his first bounty.
                  </div>
              </div>
          </div>                
  </section>        
 
  <section role="section" class="displayBlock">            
          <div id="myCarousel" class="carousel slide" data-ride="carousel">                    
              <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>                   
              <div class="carousel-inner" role="listbox">
                  <div class="item" *ngFor="let image of sliderImages; let i = index;" [ngClass]="{'active' : i == 0}">
                      <img [src]="image.img" alt="Attack On Titan" width="1200" height="700">
                      <div class="carousel-caption">
                          <h3>{{ image.name | uppercase }}</h3>
                          <p>{{ image.description }}</p>
                      </div> 
                  </div>
              </div>
              <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
          </div>                
  </section>
</main>