@import '~scss/variables';
@import "~bootstrap/scss/bootstrap-grid.scss";

.darkGreyBackGround {
  background-color: $darkGrey !important;
}

// main section below

main {
  margin-top: 50px;
  display: block;
  height: 100%;
  width: 100%;
}

section {
  @include make-row();
  margin: 0px !important;
}

.content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}