/* You can add global styles to this file, and also import other style files */
@import './variables';
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';


#headerImage {
    width: $fiftySize;
    height: $fiftySize;
}
